body{
    margin:0;
    padding:0px;
    font-family: 'PT Sans', sans-serif;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
header{
    position: absolute;
    color:white;
    padding:20px;
    width:95%;
    z-index: 2;
}

.logo{
    display: inline block;
   
}

nav{
    display: inline block;
    text-align: right;
}

a{
    display: inline block;
    color: white;
    text-decoration: none;
    padding:0px 10px;
}

.topImg{
    
    height:500px;
    display:block;
    background-image: linear-gradient(130deg, rgba(0,0,0,.005)0 , #000 150%), url("https://images.pexels.com/photos/1028714/pexels-photo-1028714.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-size:cover;
    position: relative;
    padding-left: 200px;
}

.title{
    padding: 200px 0px 40px;
    
}

h5{
    text-transform: uppercase;
    color:white;
    font-weight:300;
    margin-block-end: 0;
}


h1{
    text-transform: uppercase;
    color:white;
    font-weight:300;
    font-size: 4rem;
    font-family: 'Rozha One', serif;
    margin-block-start: 0;
    margin-block-end: 0;
}
.contact-info{
    color:white;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

h2{
    font-size:2rem;
    margin-block-start: 0;
    margin-block-end: 0;
}

strong{
    font-weight: 700;
}

.comp-title{
    color:grey;
    font-size:1.1rem;
    margin: 0.5rem ,0,  1rem;
}

.menu-title{
    color:grey;
    font-size:1.1rem;
    margin: 0.5rem ,0,  1rem;
    text-align: center;
}

.bake-pun-title{
    font-family: 'Rozha One', serif;
    font-size: 3rem;
    text-transform: capitalize;
    margin: 0.5rem ,0,  3rem;
}

.menu-header{
    font-family: 'Rozha One', serif;
    font-size: 3rem;
    text-transform: capitalize;
    margin: 0.5rem ,0,  3rem;
    text-align: center;
}

p{
    color:gray;
    font-size:1.1rem;
    line-height: 1.8;
    margin: 0.5rem , 0 , 3rem;
}

.quote{
    color:gray;
    margin: 0.5rem , 0 , 3rem;
}

.author{
    color:black;
    font-weight: 700;
}

.video-img{
    max-width:350px;
    height:400px;
    display:block;
    background-image:url("https://images.pexels.com/photos/784631/pexels-photo-784631.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-size:cover;
    position: relative;
    padding-left: 200px;
}

.specialMenu{
    padding:100px 0;
    background:#fafafa;

}

.row{
    padding:50px 0px;
}

.box{
background: white;
padding: 20px;
}

.box-image{
    width:100%;
    height: 200px;
    background-image: linear-gradient(130deg, rgba(0,0,0,.005)0 , #000 150%), url("https://cdn.pixabay.com/photo/2016/06/12/15/03/cupcakes-1452178_1280.jpg");
    background-position: center;
    background-size:cover;
    position: relative;
    margin-bottom: 50px;
}

.price-circle{
    box-sizing: border-box;
    font-family: 'Rozha One', serif;
    font-size:2rem;
    background:white;
    border:10px solid rgba(255,255,255,.7);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display:flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left:50%;
    transform: translate(-50% , 50%);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.41);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.41);
}

.food-title{
    display:block;
    font-weight: 600;
    font-size: 0.9rem;
    text-align: center;
    padding:20px 0 10px;
}

.details{
    font-weight: 100;
    font-size:0.8rem;
    text-align: center;
    line-height: 1.5;
}

.link{
   
color:black;   
font-family: 'Rozha One', serif;
text-align: center;
padding: 15px 0;

}
